<footer class="footer">

  <nav>
    <ul class="footer__list">
      <li><a class="footer__list--link"href="https://adalab.es">zapatillas</li>
      <li><a class="footer__list--link" href="https://adalab.es">ropa</li></a>
      <li><a class="footer__list--link" href="https://adalab.es">niño/a</li></a>
      <li><a class="footer__list--link" href="https://adalab.es">destacados</li></a>
      <li><a class="footer__list--link" href="https://adalab.es">tips</li></a>
    </ul>
  </nav>

  <nav>
    <ul class="footer__list">
      <li><a class="footer__list--link" href="https://adalab.es">twitter</li></a>
      <li><a class="footer__list--link" href="https://adalab.es">instagram</li></a>
      <li><a class="footer__list--link" href="https://adalab.es">youtube</li></a>
    </ul>
  </nav>

  <div class="copy">
    <p>&copy;2023</p>
    <p>we <span>❤︎</span> run</p>
  </div>

</footer>
