<header class="header" id="header">

    <nav class="header__menu">
        <a href="https://adalab.es">
            <img src="./assets/images/ico-menu.svg" alt="Menú de navegación">
        </a>
    </nav>

    <section class="header__hero">
        <h1 class="header__hero--title">Hasta un 50% de descuento</h1>
            <p class="header__hero--text">Ya están aquí las ofertas de fin de temporada</p>
        <div>
            <a href="#section2">
            <img class="scroll-down" src="./assets/images/ico-scroll-down.svg" alt="Enlace que redirige a la sección de novedades" name="Novedades"></a>
        </div>
    </section>

</header>