<header class="header" id="header">

    <nav class="header_menu">

        <a href="https://adalab.es">

            <img src="./assets/images/ico-menu.svg" alt="Menú de navegación">
        </a>
    </nav>

    <section class="header_hero">

        <h1 class="header_hero-title">hasta un 50% de descuento</h1>

            <p class="header_hero-text">Ya están aquí las ofertas de fin de temporada</p>

        <a href="#section2">

        <div>
            <img class="scroll-down" src="./assets/images/ico-scroll-down.svg" alt="Enlace que redirige a la sección de novedades">
        </div>

        </a>

    </section>

</header>