<main>

    <section class="section1">
        <p class="section1__subtitle">Los sentimientos nos inspiran</p>

        <h2 class="section1__title">conecta contigo</h2>
            <p class="section1__text">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.</p>

            <a class="section1__buttom" href="https://adalab.es">Comprar</a>

    </section>

    <section class="section2" id="section2">
        <h3 class="section2__title">Año nuevo, movimientos nuevos</h3>

            <article>
                <h4 class="section2__subtitle">Entrenamientos</h4>
                    <p class="section2__text">Sesiones de running y entrenamientos.</p>
            </article>

            <article>
                <h4 class="section2__subtitle">Cualquier nivel</h4>
                    <p class="section2__text">Entrenamientos  para cada nivel.</p>
            </article>

            <article>
                <h4 class="section2__subtitle">Exclusividad</h4>
                    <p class="section2__text">Productos para miembros premium.</p>
            </article>

            <a class="section2__buttom" href="https://adalab.es">Empezar ahora</a>

    </section>

</main>
