:root{
    --text-title: 'Roboto Slab', serif;
    --text-p: 'Roboto', sans-serif;
    --brand-color: #f26002;
}

.header{
    width: 100vw;
    height: 100vh;
    background-image: url("../images/cover.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;

    &_menu{
        width: 50px;
        height: 38px;
        padding: 14px;
        background-color: (var(--brand-color));
        position: sticky;
        top: 0;
        z-index: 1;
    }

    &_hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(208px);
        text-align: center;
        padding-right: 40px;
}
        &_title{
            font-family: var(--text-title);
            text-transform: uppercase;
            font-size: 1.875em;
            color: white;
            line-height: 1.67;
        }

        &_text{
            font-family: var(--text-p);
            color: white;
            font-size: 1rem;
            padding: 0 16px 16px;
        }
    }

.scroll-down{
    width: 43px;
    height: 40px;
    background-color: white;
    padding: 9px;
    border-radius: 25px;
}

@media (min-width:768px){

    .header_hero{
        padding-bottom: 45px;
    }

    .header_title {
        font-size: 4.688rem;
    }

    .header_text {
        font-size: 1.5rem;
    }
}

