.section1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 23px 45px 95px;
    padding: 34px 12px 2px 13px;

        &__subtitle{
        color: $brand-color;
        font-family: $text-p;
        font-size: 0.875rem;
        padding: 0 0 0 13px;
    }

        &__title{
        font-family: $text-title;
        font-size: 1.6rem;
        text-transform: capitalize;
        padding: 0 12px 0 13px;
    }

        &__text{
        font-family: $text-p;
        color: $grey-brown;
        font-size: 1.125rem;
        line-height: 1.67;
        padding: 0 12px 0 16px;
    }

        &__buttom{
        width: 160px;
        height: 50px;
        background-color: $white-color;
        border-radius: 35.5px;
        border: solid $brand-color;
        color: $brand-color;
        font-family: $text-p;
        font-size: 1.25rem;
        font-weight: 500;
        margin: 125px 0 41px 16px;
        text-decoration: none;
        line-height: 45px;
        text-align: center;
        &:hover{
            background-color: $brand-color;
            color: $white-color;
            transition: all 0.4s ease-in-out;
            transform: scale(1.2, 1.2);
        }
    }
}

@media (min-width:768px){

    .section1{
        gap: 18px;

        &__subtitle{
        font-size: 1rem;
        line-height: 1.88;
        padding-left: 37px;
        }

        &__title{
        font-size: 2rem;
        padding-left: 37px;
        }

        &__text{
        font-size: 1.25rem;
        padding-left: 37px;
        }

        &__buttom{
        margin: 0 0 51px 39px;
        }
    }

}

@media (min-width:1200px){
    .section1{
        padding-left: 275px;
    }
}