.section2{
    background-color: var(--ligth-grey);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    gap: 40px;
    padding: 30px 50px 40px 50px;

    &_title{
        font-family: var(--text-title);
        font-size: 1.25rem;
        line-height: 1.5;
    }

        &_subtitle{
            font-family: var(--text-title);
            font-size: 1.125rem;
        }

        &_text{
            font-family: var(--text-p);
            font-size: 1.125rem;
            line-height: 1.67;
        }

    &_buttom{
        width: 200px;
        height: 50px;
        background-color: var(--brand-color);
        border: solid 3px var(--brand-color);
        font-family: var(--text-p);
        color: var(--white-color);
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 2.25;
        border-radius: 25px;
        margin: auto;
    }
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &_buttom{
        width: 45px;
        height: 45px;
        background-color: var(--white-color);
        border-radius: 25px;
        position: absolute;
        display: flex;
        justify-content: center;
    }

    &_img{
        width: 25px;
    }
}


@media (min-width:768px){

    .section2{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;

        &_title{
        font-size: 1.75rem;
        line-height: 45px;
        grid-column: span 3;
    }
        &_subtitle{
        font-size: 1.5rem;
    }
        &_text{
        font-size: 1.25rem;
    }
}
    .div_buttom-section2{
        grid-column: span 3;
        }
}

