.section1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 23px 45px 95px;
    padding: 34px 12px 2px 13px;

        &_subtitle{
        color: var(--brand-color);
        font-family: var(--text-p);
        font-size: 0.875rem;
        padding: 0 0 0 13px;
        }

        &_title{
        font-family: var(--text-title);
        font-size: 1.6rem;
        text-transform: capitalize;
        padding: 0 12px 0 13px;
    }

        &_text{
        font-family: var(--text-p);
        color: var(--grey-brown);
        font-size: 1.125rem;
        line-height: 1.67;
        padding: 0 12px 0 16px;
        }

        &_buttom{
        width: 160px;
        height: 50px;
        background-color: var(--white-color);
        border-radius: 35.5px;
        border: solid var(--brand-color);
        color: var(--brand-color);
        font-family: var(--text-p);
        font-size: 1.25rem;
        font-weight: 500;
        margin: 93px 0 41px 16px;
        &:hover{
            background-color: var(--brand-color);
            color: var(--white-color);
            transition: all 0.4s ease-in-out;
            transform: scale(1.2, 1.2);
        }
    }
}

@media (min-width:768px){

    .section1{
        gap: 18px;
    }
    .section1_subtitle{
        font-size: 1rem;
        line-height: 1.88;
        padding-left: 37px;
    }
    .section1_title{
        font-size: 2rem;
        padding-left: 37px;
    }
    .section1_text{
        font-size: 1.25rem;
        padding-left: 37px;
    }
    .section1_buttom{
        margin: 0 0 51px 39px;
    }
}

@media (min-width:1200px){
    .section1{
        padding-left: 275px;
    }
}