:root{
    --text-title: 'Roboto Slab', serif;
    --text-p: 'Roboto', sans-serif;
    --brand-color: #f26002;
    --grey-brown: #4a4a4a;
}

.section1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 23px 45px 158px;
    padding: 34px 12px 2px 13px;

    &_subtitle{
    color: var(--brand-color);
    font-family: var(--text-p);
    font-size: 0.875rem;
    padding: 0 100px 0 13px;
    }

    &_title{
        font-family: var(--text-title);
        font-size: 1.6rem;
        text-transform: capitalize;
        padding: 0 12px 0 13px;
    }

        &_text{
            font-family: var(--text-p);
            color: var(--grey-brown);
            font-size: 1.125rem;
            line-height: 1.67;
            padding: 0 12px 0 16px;
        }

    &_buttom{
        width: 150px;
        height: 50px;
        background-color: white;
        border-radius: 35.5px;
        border: solid var(--brand-color);
        color: var(--brand-color);
        font-family: var(--text-p);
        font-size: 1.25rem;
        font-weight: 500;
        margin: 71px 0 41px 16px;
        &:hover{
        }
        }
}

