.section2{
    background-color: var(--ligth-grey);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    gap: 40px;
    padding: 30px 50px 40px 50px;

        &__title{
        font-family: var(--text-title);
        font-size: 1.25rem;
        line-height: 1.5;
    }

        &__subtitle{
        font-family: var(--text-title);
        font-size: 1.125rem;
        }

        &__text{
        font-family: var(--text-p);
        font-size: 1.125rem;
        line-height: 1.67;
        }

        &__buttom{
        width: 200px;
        height: 50px;
        background-color: var(--brand-color);
        border: solid 3px var(--brand-color);
        font-family: var(--text-p);
        color: var(--white-color);
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 2.25;
        border-radius: 25px;
        margin: auto;
        &:hover{
            background-color: var(--white-color);
            color: var(--brand-color);
            transition: all 0.4s ease-in-out;
            transform: scale(1.2, 1.2);
        }
    }
}

@keyframes wiggle {
    0%,
    10%{
        transform: rotateZ(-180deg);
    }
    15%{
        transform: rotateZ(-120deg);
    }
    20%{
        transform: rotateZ(140deg);
    }
    25%{
        transform: rotateZ(-60deg);
    }
    30%{
        transform: rotateZ(45deg);
    }
    35%{
        transform: rotateZ(-5deg);
    }
    40%,
    100%{
        transform: rotateZ(0);
    }
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: wiggle 3s linear infinite;

        &__buttom{
        width: 45px;
        height: 45px;
        background-color: var(--white-color);
        border-radius: 25px;
        position: absolute;
        display: flex;
        justify-content: center;
    }

        &__img{
        width: 25px;
        }
    }



@media (min-width:768px){

    .section2{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 25px;

        &__title{
        font-size: 1.75rem;
        line-height: 45px;
        grid-column: span 3;
    }
        &__subtitle{
        font-size: 1.5rem;
    }
        &__text{
        font-size: 1.25rem;
    }
}
    .div__buttom--section2{
        grid-column: span 3;
        }
}

